div {
  h2,
  .introduction {
    margin: 1rem;
    text-align: center;
  }

  h2 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .introduction {
    font-size: 1rem;
    line-height: 25px;
  }
}

@media (min-width: 768px) {
  .introContainer {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .introduction {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 1em;
      color: #333;
    }
    
    .tips {
      font-size: 16px;
      color: #666;
      font-style: italic;
      margin-top: 10px;
    }
    
  }
  
}
