.button {
  margin: .25rem;
  font-size: 13px;
  padding: .35rem .75rem;
  background: #001000;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}

@media (min-width: 968px) {
  .button {
    font-size: 16px;
    font-weight: 400;
  }

  .button:hover {
    opacity: 0.5;
  }
}
